vendor/** linguist-vendored=true
tests/testdata/** linguist-detectable=false
tests/integration/** linguist-detectable=false
evidence/** linguist-detectable=false
*.ps1 linguist-detectable=false
scripts/*.ps1 linguist-detectable=false
